### VisualStudioCode ###
.vscode/*

### macOS ###
.DS_Store

### IntelliJ ###
.idea
*.iml

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
